<html>
<head>
  <meta charset='UTF-8'>
  <title>For <%= name %></title>

  <style type="text/css">
    
    * {
      font-family: sans-serif;
    }

    h1 {
      font-size: 2rem;
      background-color: #e91e63;
      color: #fff;
      padding: 20px;
    }

    p {
      font-size: 18px;
      padding: 10px;
      background-color: #f9f9f9;
    }

    table {
      border: 1px solid #000;
      padding: 10px;
    }

  </style>

</head>
<body>
  <h1>Thanks <%= name %></h1>
  <p>Thanks for coming to our conference.  We couldn't have done it without you!</p>

  <p>
    Political activism is at the heart of any democracy and your voice needs to be heard.
    Please consider reaching out to your following representatives:
  </p>

  <table>
    <% if legislators.kind_of?(Array) %>
      <th>Name</th><th>Website</th>
        <% legislators.each do |legislator| %>
        <tr>
          <td><%= "#{legislator.name}" %></td>
          <td><%= "#{legislator.urls.join(" ")}" unless legislator.urls.nil? %></td>
        </tr>
        <% end %>
    <% else %>
      <th></th>
      <td><%= "#{legislators}" %></td>
    <% end %>
  </table>

  <footer>
    <p>Made with love by Elayachi Hamrt</p>
  </footer>

</body>
</html>
